.mapa{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-items: center;
    height: 100vh;

}
.boneco{
    position: absolute;
    top: 300px;
    left: 350px;
}

body{
    overflow: hidden;
}